/* inport fonts */

@font-face {
    font-family: Titillium web;
    src: url(../assets/fonts/titilium/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: Titillium web2;
    src: url(../assets/fonts/titilium/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Classes genericas */

body {
    color: white;
}

.layout-grid {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

h1 {
    font-family: "Titillium web";
}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-menu-esquerdo {
    left: 84vw !important;
}



/*Mobile first*/

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 60px;
    background-color: #1B1426;
}

/* Header top */

header .header-top {
    display: none;
}

/* Header bottom */

.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-bottom .logo {
    width: 86px;
}

header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: calc(100vh - 60px);
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    justify-content: space-between;

    transition: left 0.4s;
}

header .header-bottom .redes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* somente links "filhos diretos" */

header .header-bottom nav > a {
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    border-bottom: solid 2px #F9AA01;
    text-align: center;
    text-decoration: none;
    padding: 30px 0;
}

header .header-bottom nav > a:last-of-type {
    border: none;
}

header .header-bottom__format {
    height: 60px;
}

/* menu lateral direito - icones */

header .header-bottom .menu-user {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    display: flex;
    top: 60px;
    left: 100vw;
    position: fixed;
    height: 170px;
    width: 66px;
    background-image: linear-gradient(to left bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    transition: left 0.4s;
}


/* MAIN */

/* Banner */



main .banner {
    background-image: url(../assets/images/imagem-banner-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 606px;
    width: 100%;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main .banner__titulo {
    font-family: "Titillium web";
    font-size: 40px;
    font-weight: 900;
    text-shadow: 0px 0px 7px rgba(253, 66, 85, 0.7);
}

main .banner__botao-sobre {
    font-family: "Titillium web2";
    font-weight: 700;
    font-size: 24px;
    color: black;
    text-decoration: none;
    text-align: center;

    background-color: #F9AA01;
    width: 171px;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 81px;
}

main .jogos-recentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 590px;
    background-color: #1B1426;
}

main .entre-no-time {
    height: 1535px;
    background-color: #F9AA01;
}

main .entre-no-time__imagem-e-info {

}

/* Tablet = 768px */

@media screen and (min-width:768px) {
    
}

@media screen and (min-width:1200px) {

    .layout-grid {
        width: 100%;
        max-width: 1200px;

        border: 3px dotted yellowgreen;
    }
    
    /* Header */

    header {
        position: static;
        height: 140px;
    }

    header .menu-hamburguer,
    header .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .email,
    header .header-bottom nav .redes {
        display: none;
    }

    header .header-bottom img.logo {
        width: 200px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        flex-direction: row;
        background-color: red;
    }

    header .header-bottom .menu-user {
        position: static;
        flex-direction: row;
        width: 180px;
        height: 50px;
        background-color: transparent;
    }

    /* Main */

    main {
        margin-top: 0;
    }
}