/* inport fonts */

@font-face {
    font-family: Titillium web;
    src: url(../assets/fonts/titilium/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: Titillium web2;
    src: url(../assets/fonts/titilium/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

/* TITILLIUM WEB */
@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/titilium/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: TitilliumWeb-Bold;
    src: url(../assets/fonts/titilium/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: TitilliumWeb-Regular;
    src: url(../assets/fonts/titilium/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: TitilliumWeb-Light;
    src: url(../assets/fonts/titilium/TitilliumWeb-Light.ttf);
}

/* INTER */
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

/* QUICKSAND */
@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Classes genericas */

body {
    color: white;
}

.layout-grid {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

h1 {
    font-family: "Titillium web";
}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-menu-esquerdo {
    left: 84vw !important;
}



/*Mobile first*/

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 60px;
    background-color: #1B1426;
}

/* Header top */

header .header-top {
    display: none;
}

/* Header bottom */

.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-bottom .logo {
    width: 86px;
}

header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: calc(100vh - 60px);
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    justify-content: space-between;

    transition: left 0.4s;
}

header .header-bottom .redes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* somente links "filhos diretos" */

header .header-bottom nav > a {
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    border-bottom: solid 2px #F9AA01;
    text-align: center;
    text-decoration: none;
    padding: 30px 0;
}

header .header-bottom nav > a:hover {
    background-color: #F9AA01;
}

header .header-bottom nav > a:last-of-type {
    border: none;
}

header .header-bottom__format {
    height: 60px;
}

/* menu lateral direito - icones */

header .header-bottom .menu-user {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    display: flex;
    top: 60px;
    left: 100vw;
    position: fixed;
    height: 170px;
    width: 66px;
    background-image: linear-gradient(to left bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    transition: left 0.4s;
}


/* MAIN */

/* Banner */



main .banner {
    background-image: url(../assets/images/imagem-banner-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 606px;
    width: 100%;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main .banner__titulo {
    font-family: "Titillium web";
    font-size: 40px;
    font-weight: 900;
    text-shadow: 0px 0px 7px rgba(253, 66, 85, 0.7);
}

main .banner__botao-sobre {
    font-family: "Titillium web2";
    font-weight: 700;
    font-size: 24px;
    color: black;
    text-decoration: none;
    text-align: center;

    background-color: #F9AA01;
    width: 171px;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 81px;
}



/* Sessão Jogos */



main .jogos-recentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 590px;
    background-color: #1B1426;
}



/* Sessão Progamer */



main .progamer {
    height: 1535px;
    background-color: #F9AA01;
}

main .progamer .progamer__titulo {
    display: flex;
    flex-direction: column;
    align-content: center;
}

main .progamer .progamer__titulo__text {
    text-transform: uppercase;
    font-family: TitilliumWeb-Black;
    font-size: 1.12rem;
    font-weight: 900;
    color: #1B1426;
    letter-spacing: 0.17em;
    text-align: center;
    margin-top: 5.25rem;
    margin-bottom: 2rem;
}

main .progamer .progamer__titulo__linha {
    border: #1B1426 solid 2px;
    width: 231px;
    margin-left: auto;
    margin-right: auto;
}

/* Parte killjoy */

main .progamer .progamer__killjoy {
    display: flex;
    margin-top: 82px;
}

main .progamer .progamer__killjoy .progamer__killjoy__image {
    margin-left: 20px;
}

main .progamer .progamer__box-info-killjoy {
    width: 246px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
    z-index: 3;

    border: 2px solid transparent;
    border-radius: 8px;
    background:
        /* fundo */
        linear-gradient(to right bottom, rgba(110, 49, 236, .2), rgba(45, 7, 109, .83)) padding-box,
        /* fundo borda */
        linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, .1)) border-box;
    backdrop-filter: blur(4px);

    position: absolute;
    left: 125px;
    margin-top: 132px;
    
}

main .progamer .progamer__box-info-killjoy .progamer__box-info-killjoy__titulo {
    font-family: TitilliumWeb-Black;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0 0 6px #C6A5E5;
}

main .progamer .progamer__box-info-killjoy .progamer__box-info-killjoy__text {
    width: 12rem;

    font-family: Quicksand;
    font-size: 13px;
    font-weight: 400;
    text-align: justify;
}

/* Parte LoL */

main .progamer .progamer__lol {
    display: flex;
    justify-content: flex-end;
    margin-top: 130px;
}

main .progamer .progamer__lol .progamer__lol__image {
    margin-right: 20px;
}

main .progamer .progamer__lol__info-box {
    width: 246px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid transparent;
    border-radius: 8px;
    background:
        /* fundo */
        linear-gradient(to right bottom, rgba(110, 49, 236, .2), rgba(45, 7, 109, .83)) padding-box,
        /* fundo borda */
        linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, .1)) border-box;
    backdrop-filter: blur(4px);

    position: absolute;
    right: 124px;
    margin-top: 111px;
}

main .progamer .progamer__lol__info-box .progamer__lol__info-box__titulo {
    font-family: TitilliumWeb-Black;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0 0 6px #C6A5E5;
    margin-bottom: 11px;
}

main .progamer .progamer__lol__info-box .progamer__lol__info-box__text1 {
    font-family: Quicksand;
    font-size: 13px;
    font-weight: 400;
    text-align: justify;

    width: 10.8rem;
}

main .progamer .progamer__lol__info-box .progamer__lol__info-box__text2 {
    font-family: Quicksand;
    font-size: 13px;
    font-weight: 400;
    text-align: justify;

    width: 10.8rem;
}



/* Sessao noticias */



main .noticia {
    height: 3675px;
    background-image: url(../assets/images/noticia-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

main .noticia .noticia__titulo {
    text-transform: uppercase;
    font-family: TitilliumWeb-Black;
    font-size: 1.12rem;
    font-weight: 900;
    text-align: center;
    padding-top: 2.875rem;
}

main .noticia .noticia__titulo .noticia__titulo__text {
    margin-bottom: 1.5rem;
}

main .noticia .noticia__titulo .noticia__titulo__linha {
    border: #F9AA01 solid 1px;
    width: 204px;
    margin-left: auto;
    margin-right: auto;
}

main .noticia .noticia__conjunto-cards {
    margin-top: 118px;
    display: flex;
    flex-direction: column;
    gap: 46px;
}

main .noticia .noticia__conjunto-cards__card-box {
    width: 335px;
    height: 387px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    background: linear-gradient(to right bottom, rgba(37, 26, 52, .3), rgba(5, 1, 12, .8)) padding-box;
}

main .noticia .noticia__conjunto-cards__card-box .noticia__conjunto-cards__card-box__titulo {
    font-family: TitilliumWeb-Bold;
    font-size: 24px;
    width: 175px;
    margin-left: 25px;
}

main .noticia .noticia__conjunto-cards__card-box .noticia__conjunto-cards__card-box__text {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    width: 283px;
    margin-left: 25px;
}



/* Footer */



footer {
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: inset 0 30px 60px rgba(0, 0, 0, 1);
    background-image: url(../assets/images/footer-imagem-fundo.svg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

footer #sobre {
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(250, 128,114, .3); */
}

footer #sobre > img {
    width: 110px;
}

footer #sobre p {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 14px;
}

footer #midias-sociais-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}



/* Links uteis */



footer .titulo-footer__text {
    font-family: TitilliumWeb-Black;
    font-size: 30px;
    font-weight: 900;
}

footer .titulo-footer__linha {
    border: #F9AA01 solid 2px;
    width: 117px;

}

footer .menu-footer {
    list-style-type: none;

    font-family: TitilliumWeb-Bold;
    font-size: 16px;
    font-weight: 700;
}

footer .menu-footer__links {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}

footer .footer-top .menu-footer a:before {
    content: "\2015";
    margin-right: 10px;
    color: #F9AA01;
}

/* Tablet = 768px */

@media screen and (min-width:768px) {
    
}

@media screen and (min-width:1200px) {

    .layout-grid {
        width: 100%;
        max-width: 1200px;

        /* border: 3px dotted yellowgreen; */
    }
    
    /* Header */

    header {
        position: static;
        height: 140px;
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
    }

    header .header-top {
        display: block;
    }

    header .header-top .contatos {
        width: 415px;
        display: flex;
        justify-content: space-between;

        font-family: "Inter";
        font-size: 14px;
        font-weight: 400;

        /* border: 2px solid white; */
    }

    header .header-top .redes {
        width: 120px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* border: 2px solid wheat; */
    }

    header .header-top .contatos > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        /* border: 1px solid yellow; */
    }

    header .menu-hamburguer,
    header .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .email,
    header .header-bottom nav .redes {
        display: none;
    }

    header .header-bottom img.logo {
        width: 200px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding: 0;
        flex-direction: row;
        align-items: center;
        /* background-color: red; */
    }

    header .header-bottom nav > a {
        border: none;
        font-size: 14px;
    }

    header .header-bottom nav > a:hover {
        background-color: transparent;
        color: #F9AA01;
    }

    header .header-bottom .menu-user {
        position: static;
        flex-direction: row;
        width: 120px;
        height: 50px;
        background-color: transparent;
    }

    /* Main */

    main {
        margin-top: 0;
    }

    /* Banner */

    main .banner {
        height: 722px;
        background-image: url(../assets/images/imagem-fundo-banner-decktop.png);
        background-size: cover;
        background-position: top;
        margin: 0;
    }

    .banner h1 {
        font-size: 80px;
    }

    /* Sessao jogos */

    main .jogos-recentes {
        flex-direction: row;
        width: 100%;
        height: 500px;
    }

    main .jogos-recentes img {
        width: 555px;
    }
}